@import url('https://code.highcharts.com/6.1.4/css/highcharts.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://s3.amazonaws.com/jchs-app-source-data/JCHS-highchartrs/src/css/JCHS-highcharts.css');

.highcharts-color-0 { fill: #313E3D; stroke: #313E3D; color: #313E3D; }
.highcharts-color-1 { fill: #f89f5c; stroke: #f89f5c; color: #f89f5c; }
.highcharts-color-2 { fill: #93bacb; stroke: #93bacb; color: #93bacb; }

/*Changing the tooltip bullet point colors to match the corresponding series color*/
.highcharts-tooltip span.highcharts-color-0 {color: #313E3D; }
.highcharts-tooltip span.highcharts-color-1 {color: #f89f5c; }
.highcharts-tooltip span.highcharts-color-2 {color: #93bacb; }

.highcharts-axis-labels {
  font-size: 12.5px;
}
.highcharts-axis-title {
  font-size: 14px;
}